// reset styles
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

// Firefox scrollbars
* {
  scrollbar-width: thin;
  scrollbar-color: var(--tz-color-info0) var(--tz-color-back1);
}

// other scrollbars
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: var(--tz-color-back1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--tz-color-info0);
  border-radius: 10px;
  border: 3px solid var(--tz-color-back1);
}

template {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {

  html {
    scroll-behavior: auto !important;
  }

  *, *:before, *:after {
    transition-timing-function: step-start !important;
    animation-delay: 0s !important;
    animation-timing-function: step-start !important;
    animation-iteration-count: 1 !important;
  }

  a:hover, a:active, a:focus {
    transform: none !important;
  }

}
