<% meta.title = 'First page' %>
<%- include('./partials/_pagehead.ejs', { meta }) -%>

<main>

  <tezos-time zone="Europe/London" date="medium" colspan="4" rowspan="2" order="1"></tezos-time>

  <tezos-time zone="Europe/Zurich" colspan="2" rowspan="1" order="1"></tezos-time>

</main>

<%- include('./partials/_pagefoot.ejs', { meta }) -%>
