frontend/buildpre
frontend/static
frontend/src/js/tezos/css/
node_modules

.npm
package-lock.json
npm-debug.log*
.ash_history
.node_repl_history

.env

.pm2

logs
*.log

.DS_Store
Thumbs.db

frontend/tokens-ejs.json
