* {
  font-family: var(--tz-font-body);
  font-size: 1em;
  font-weight: var(--tz-font-body-normal);
  line-height: 1.15;
  padding: 0;
  margin: 0;
}

// outer widget
:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--tz-border-radius);

  &(:focus), &(:focus-within) {
    outline: 3px solid var(--tz-color-info1);
  }

  & > * {
    overflow: hidden;
  }

  progress:last-child, svg:last-child {
    border-radius: 0 0 var(--tz-border-radius) var(--tz-border-radius);
  }

}

// default styles
style, template {
  display: none;
}

// forms and fields
input, output, textarea, select, button {
  grid-column: 2 / 4;
  clear: both;
  color: var(--tz-color-fore0);
  background: var(--tz-color-back2);
  accent-color: var(--tz-color-back2);
  border: 0 none;
  outline: 0 none;

  &:focus {
    outline: 3px solid var(--tz-color-info1);
  }
}

button {
  display: block;
  padding: 0.1em 1.5em;
  margin: auto;
  color: var(--tz-color-fore0);
  background-color: var(--tz-color-info0);
  border-radius: 0.2em;
  cursor: pointer;

  &:focus {
    background-color: var(--tz-color-info1);
  }
}

label {
  grid-column: 1 / 2;
  white-space: nowrap;
  text-align: right;
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
  grid-column: 1 / 3;
  justify-self: end;
  width: 0.8em;
  height: 0.8em;

  & + label {
    grid-column: 3 / 4;
    text-align: left;
  }
}

// tables
table {
  margin: 0.1em 0.2em;
	border-spacing: 0.5vw;
	border-collapse: collapse;
	empty-cells: show;
}

th {
  text-align: left;
	vertical-align: top;
  color: var(--tz-color-info1);
}

th[colspan] {
  color: var(--tz-color-info2);
}

td {
  font-weight: $font_head_normal;
  font-variant-numeric: tabular-nums;
  text-align: right;
	vertical-align: top;
  color: var(--tz-color-fore0);
}

// progress bar
progress {
  appearance: none;
  width: 100%;
  height: 0.3em;
  color: var(--tz-color-low1);
  background: transparent;
  border: 0 none;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: var(--tz-color-low0);
}

progress::-moz-progress-bar {
  background: var(--tz-color-low0);
}

// SVGs
svg {

  .line, .area, .grid {
    stroke: var(--tz-color-info1);
    stroke-width: 1%;
    fill: none;
  }

  .area {
    stroke: var(--tz-color-info0);
    fill: var(--tz-color-info0);
    opacity: 0.2;
  }

  .line.BTC, .area.BTC {
    stroke: var(--tz-color-low1);
  }

  .area.BTC {
    fill: var(--tz-color-low0);
  }

  .line.ETH, .area.ETH {
    stroke: var(--tz-color-med1);
  }

  .area.ETH {
    fill: var(--tz-color-med0);
  }

  .grid {
    stroke: var(--tz-color-fore2);
    stroke-width: 1;
  }

  text {
    font-family: var(--tz-font-body);
    font-size: 2em;
    fill: var(--tz-color-fore0);
    stroke: var(--tz-color-back0);
    stroke-width: 15;
    paint-order: stroke;

    &.label {
      font-size: 1.5em;
      fill: var(--tz-color-fore2);
    }

    &.top {
      dominant-baseline: hanging;
    }

    &.middle {
      dominant-baseline: middle;
    }

    &.center {
      text-anchor: middle;
    }

    &.right {
      text-anchor: end;
    }
  }

}

// configuration button
.config {
  display: none;
  position: absolute;
  top: -0.2em;
  right: -0.2em;
  appearance: none;
  width: 1em;
  height: 1em;
  padding: 0;
  color: var(--tz-color-back1);
  background-color: var(--tz-color-info1);
  border: 0 none;
  border-radius: 50%;
  cursor: pointer;

  :host(:focus) &, :host(:focus-within) & {
    display: block;
  }

  &:focus {
    color: var(--tz-color-fore0);
    background-color: var(--tz-color-back0);
    outline: 3px solid var(--tz-color-info1);
  }

}

// widget configuration panel
.configpanel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em;
  background-color: var(--tz-color-back2);
  border: 6px solid var(--tz-color-back1);
  border-radius: 0.5em;
  z-index: 999;
}

.formgrid {
  display: grid;
  grid-template-columns: 1fr 1em 3fr;
  grid-gap: 0.2em 0.5em;
  align-items: center;
  grid-auto-flow: dense;

  p {
    grid-column: 1 / 4;
    clear: both;
  }
}

.label {
  color: var(--tz-color-fore2);
  padding: 0.1em 0.2em;

  .sub {
    font-size: 0.75em;
    display: block;
  }
}

.data {
  font-family: var(--tz-font-head);
  font-size: 1.5em;
  text-align: center;
  color: var(--tz-color-fore0);
}

.up {
  color: var(--tz-color-low1);
}

.dn {
  color: var(--tz-color-high1);
}
