:root {

  // dark mode
  --color-back0: $color_dark_back_0;
  --color-back1: $color_dark_back_1;
  --color-back2: $color_dark_back_2;

  --color-fore0: $color_dark_fore_0;
  --color-fore1: $color_dark_fore_1;
  --color-fore2: $color_dark_fore_2;

  --color-high0: $color_dark_high_0;
  --color-high1: $color_dark_high_1;

  --color-med0: $color_dark_med_0;
  --color-med1: $color_dark_med_1;

  --color-low0: $color_dark_low_0;
  --color-low1: $color_dark_low_1;

  --color-info0: $color_dark_info_0;
  --color-info1: $color_dark_info_1;

}
