// inline SVG icons
@mixin icon($name) {
  .icon.#{$name} {
    background-image: inline('#{$name}.svg');
  }
}

.icon {
  padding-left: 1.1em;
  background-size: 1em;
  background-position: 0 50%;
  background-repeat: no-repeat;
  white-space: nowrap;
}

@include icon(account);
@include icon(bake);
@include icon(chart);
@include icon(clock);
@include icon(fullscreen);
@include icon(sleep);
@include icon(translate);
@include icon(value);
